.review-item {
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 570px;
    display: flex;
}

.review-item img {
    width: 90px;
}

.review-item-detail p {
    margin: 0;
}

.review-item-details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}